<h1>Troupes</h1>

<div style="display: flex;">

  <div style="margin: 15px;">
    <div *ngFor="let troupe of troupes$ | async" 
      style="margin: 5px;display:flex;">

      <div style="align-self: center;width:100%;padding-right:10px">
        {{ troupe.name }}
      </div>

      <button class="xsmall accent" [routerLink]="['/troupe', troupe.id]">
        edit
      </button>
      <button class="xsmall primary" (click)="onSelectTroupe(troupe)">
        view
      </button>
    </div>
  </div>

  <div *ngIf="selectedTroupe$ | async as selectedTroupe" 
    style="padding: 15px;border:thick">
    <h2>{{ selectedTroupe.name }}</h2>
    <p>{{ selectedTroupe.class }}</p>
    <p>{{ selectedTroupe.alignment }}</p>
    <p>{{ selectedTroupe.troupe }}</p>
  </div>
</div>