@import "src/styles/styles"

:host
  height:100%
  display: grid
  grid: auto-flow min-content / repeat(auto-fit, minmax(min-content, 10em))
  justify-content: space-around
  padding: 15px
  font-size: larger
  
  a
    color: white
    text-decoration: none
    display: block